
@{
    ViewData["Title"] = "Programa Vasco Da Gama";
}
@*<h2>@ViewData["Title"]</h2>*@
@*<h3>@ViewData["Message"]</h3>*@

<h1 align="center">Programa Vasco Da Gama</h1>

<div class="center-justified">
    <p>O programa Vasco da Gama é um programa de mobilidade de estudantes entre escolas do
    ensino politécnico.</p>
    <p>O intercâmbio de estudantes ao abrigo do programa implica um acordo prévio entre a instituição
    de origem e a instituição de acolhimento, assinado pelos respectivos responsáveis.</p>
    <p>A mobilidade de estudantes abrange também os estágios, trabalhos de fim de curso ou projectos
    finais, desde que as referidas actividades integrem o plano curricular do curso na escola de
    origem.</p>
</div>
<div class="center-justified">
    <h3>Período de candidatura:</h3>

    <ul>
        <li>Até 30 de abril para o 1º semestre</li>
        <li>Até 30 de novembro para o 2º semestre</li>
    </ul>
</div>

