
@{
    ViewData["Title"] = "Programa Santander Universidades";
}

<h1 align="center">Programa Santander Universidades</h1>

<div class="center-justified">
    <p>
        O Programa Santander universidades oferece bolsas para licenciatura e mestrado Ibero-América,
        bolsas de mobilidade luso-brasileiras e bolsas de estágio em Portugal.
    </p>
    <p><h3>Mais Informações: </h3></p>
    <p><a href="http://www.bolsas-santander.com/">Bolsas Santander</a></p>
</div>