
@{
    ViewData["Title"] = "Programa Erasmus";
}

<h1 align="center">Programa Erasmus</h1>

<div class="center-justified">
    <p>
        O Programa Erasmus destina-se a apoiar as actividades europeias das instituições de ensino superior (IES),
        promovendo a mobilidade e o intercâmbio de estudantes, professores e funcionários das
        Instituições de Ensino Superior. No que respeita à mobilidade de estudantes, visa oferecer a possibilidade de
        efectuar um período de estudos, com pleno reconhecimento académico, com a duração mínima de 5 meses e máxima
        de 1 ano lectivo, num estabelecimento de ensino superior de outro Estado elegível,
        dotado de Carta Universitária Erasmus.
    </p>
</div>