
@{
    ViewData["Title"] = "Programa Politécnico De Macau";
}

<h1 align="center">Programa Politécnico De Macau</h1>

<div class="center-justified">
    <p>
        O Programa Politécnico de Macau destina-se a estudantes que cumpram os requisitos previstos no
        <a href="https://www.si.ips.pt/ips_si/web_gessi_docs.download_file?p_name=F-102843010/Regulamento%20Mobilidade%20Internacional%20do%20IPS_Out_2014.pdf"> Regulamento da Mobilidade Internacional do IPS (PDF | 217KB)</a>
    </p>
    <p>Adicionalmente, os estudantes deverão possuir conhecimentos de Inglês ao nível de Utilizador Proficiente, uma vez que as aulas são lecionadas em Inglês e os Professores não falam Português.</p>
    <p> <h3>Despesas:</h3></p>
    <p><h4>Estudantes</h4></p>
    <ul>
        <li>Seguro de saúde válido no país de destino</li>
        <li>Deslocações intercontinentais (viagem)</li>
    </ul>
    <p><h4>IPMacau</h4></p>
    <ul>
        <li>Alojamento</li>
        <li>Alimentação</li>
        <li>Pocket Money</li>
        <li>Seguro de acidentes no âmbito das actividades escolares</li>
        <li>Deslocações internas (caso se justifique)</li>
    </ul>

<p><h3>Consulta a informação disponível sobre oferta:</h3></p>
    <a href="http://www.ipm.edu.mo/student_corner/en/download_course_description.php">Instituto Politécnico de Macau</a>
</div>