@*@{
        ViewData["Title"] = "About";
    }
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>*@


<h1 align="center">O CIMOB</h1>


<p align="center">Use this area to provide additional information.</p>