@model IPSCIMOB.Models.Sugestao

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem certeza que quer apagas isto?</h3>
<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailUtilizador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailUtilizador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TextoSugestao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TextoSugestao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SugestaoID" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
