@model IPSCIMOB.Models.Entrevista

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutCandidatura";
}

<div align="center">
    <h2>Candidatura Programa de Mobilidade: @ViewBag.Programa</h2>
    <h5>Passo 4 de 5</h5>
</div>

@if (Model == null)
{
    
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumeroAluno" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Email" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Estado" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NomePrograma" />*@

            
            <div class="form-group">
                <label asp-for="DataDeEntrevista" class="control-label"></label>
                <input asp-for="DataDeEntrevista" class="form-control" />
                <span asp-validation-for="DataDeEntrevista" class="text-danger"></span>
            </div>


                <div class="form-group">
                    <input type="submit" value="Marcar Entrevista" class="btn btn-default" />
                    <p>
                        <a target="_blank" href="/Ajudas/Details/2" align="right">Ajuda</a>
                    </p>
                </div>
            
            
        </form>
    </div>
</div>
}


@if(Model != null){
    @if (Model.Estado.Equals(EstadoEntrevista.Aceite))
    {
        <br />
        <h3>A entrevista que marcou foi aceite, por favor clique em passo seguinte para finalizar</h3>
        <br />
    <div align="center">
        <input type="button" value="Passo Seguinte" onclick="@("window.location.href='" + @Url.Action("FinalCandidatura", "Candidatura") + "'");" />
    </div>

    }

    @if (Model.Estado.Equals(EstadoEntrevista.Recusado))
    {
    <hr />
    <h3>A entrevista que marcou foi recusada, por favor marque de novo:</h3>
    <br />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="NumeroAluno" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Email" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Estado" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="NomePrograma" />*@

                <div class="form-group">
                    <label asp-for="DataDeEntrevista" class="control-label"></label>
                    <input asp-for="DataDeEntrevista" class="form-control" />
                    <span asp-validation-for="DataDeEntrevista" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Marcar Entrevista" class="btn btn-default" />
                </div>


            </form>
        </div>
    </div>
    }

    @if (Model.Estado.Equals(EstadoEntrevista.EmEspera))
    {
        <h3 align="center">A entrevista que marcou está em espera, por favor aguarde confirmação</h3>
    }


}

