@model IPSCIMOB.Models.Entrevista

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Entrevista</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EntrevistaId" />
            <div class="form-group">
                <label asp-for="NumeroAluno" class="control-label"></label>
                <input asp-for="NumeroAluno" class="form-control" />
                <span asp-validation-for="NumeroAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeEntrevista" class="control-label"></label>
                <input asp-for="DataDeEntrevista" class="form-control" />
                <span asp-validation-for="DataDeEntrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

