@model CandidaturaModel
@{
    ViewData["Title"] = "Documentacao";
    Layout = "_LayoutCandidatura";
}

<div align ="center">
    <h2>Documentação Necessária Candidatura Programa de Mobilidade</h2>
</div>



