@model CandidaturaModel
@{
    ViewData["Title"] = "Documentacao";
    Layout = "_LayoutCandidatura";
}
<div align="center">
    <h2>Documentação Necessária Candidatura Programa de Mobilidade @ViewBag.NomePrograma</h2>
</div>

<div align ="center">
    <textarea class="textDocsNecessarios" readonly rows="4" cols="50">
                                                INSTITUTO POLITÉCNICO DE SETÚBAL (IPS)

                                                             Artigo 38º
                Documentação

        Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, considera-se
    obrigatório que cada processo de docente IPS em mobilidade seja constituído pela seguinte
    documentação:
        a) Acordo Bilateral ou equivalente legal (celebrado antes da realização da mobilidade, e
    estabelecido entre o IPS e uma instituição parceira, de carácter nacional ou internacional);
        b) Ficha de Candidatura, nos termos do artigo 31º; 
        c) Ficha de Docente;
        d) Contrato de Docente;
        e) Confirmação do período de leccionação/estada no estrangeiro, emitida pela instituição
        de acolhimento;
        f) Recibo de pagamento da bolsa (quando aplicável);
        g) Relatório Final Individual;
        h) Adendas ao Contrato (quando aplicável);
        i) Recibos relativos a Adendas ao Contrato (quando aplicável).
</textarea>
</div>

