@model IPSCIMOB.Models.InformacaoGeral
@{
    ViewData["Title"] = "Documentacao";
    Layout = "_LayoutCandidatura";
}
<div align="center">
    <h2>Documentação Necessária Candidatura Programa de Mobilidade @ViewBag.NomePrograma</h2>
</div>


<div  align="center">    
    @Html.Raw(ViewBag.InfoGeral.Descricao)
</div>


