
@model CandidaturaModel
@{
    ViewData["Title"] = "MarcarEntrevistas";
    Layout = "_LayoutCandidatura";
}

<div align="center">
    <h2>Candidatura Programa de Mobilidade: @ViewBag.NomePrograma</h2>
    <h5>Passo 4 de 5</h5>
</div>

<div align="center">
    <h4> Marcar Entrevista com o CIMOB</h4>

</div>


<div align="center">
    <input type="button" value="Marcar Entrevista" onclick="@("window.location.href='" + @Url.Action("FinalCandidatura", "Candidatura") + "'");" />
</div>
