@model IPSCIMOB.Models.CandidaturaModel

@{
    ViewData["Title"] = "EditCandidatura";
    Layout = "_LayoutCandidatura";

}




<div align="center">
    <h2>Candidatura Programa de Mobilidade: @ViewBag.NomePrograma</h2>
    <h5>Passo 2 de 5</h5>
</div>


<div class="row" align ="justify">
    <div class="col-md-4">
        <form asp-action="EditRegulamento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CandidaturaID" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Programa" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Email" />

            @*<div class="form-group">
                    <label asp-for="EntrevistaID" class="control-label"></label>
                    <input asp-for="EntrevistaID" class="form-control" />
                    <span asp-validation-for="EntrevistaID" class="text-danger"></span>
                </div>*@

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nome" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumeroInterno" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsBolsa" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EstadoBolsa" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsEstudo" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsEstagio" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsInvestigacao" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsLecionar" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsFormacao" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pais" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Estado" />



            <div>
                <textarea readonly rows="4" cols="50">
                                        INSTITUTO POLITÉCNICO DE SETÚBAL (IPS)
    No âmbito da criação do CIMOB-IPS, e da aposta no desenvolvimento da internacionalização
    da actividade do IPS e suas unidades orgânicas, torna-se essencial estabelecer um conjunto
    de regras e critérios cuja aplicação defina, em articulação com as normas comunitárias e extra
    comunitárias em vigor, uma mobilidade internacional de qualidade, com rigor e transparência e
    que contribua para o desenvolvimento da comunidade académica do IPS enquanto instituição
    de ensino superior em Portugal, na Europa e no Mundo.
    Ouvidas as Escolas, o CIMOB-IPS propõe à Comissão Permanente do Conselho Geral o
    seguinte Regulamento de Mobilidade da Comunidade IPS:
                            REGULAMENTO DE MOBILIDADE INTERNACIONAL DA COMUNIDADE IPS
                Capítulo I
            Disposições Gerais
                Artigo 1º
    Objecto
    O presente regulamento define, harmoniza e uniformiza processos, políticas, procedimentos e
    condições de participação da Comunidade IPS em acções de mobilidade de carácter
    internacional.
                Artigo 2º
                 Âmbito
        1. O presente regulamento aplica-se a todos os actos de mobilidade praticados pela
    Comunidade IPS ao abrigo de programas comunitários e extra comunitários em que o IPS
    participe, bem como as que ocorrerem no quadro de parcerias, protocolos ou convénios
    estabelecidos a título particular entre o IPS e congéneres nacionais e estrangeiras.
        2. O presente Regulamento não é aplicável às deslocações ao estrangeiro que tenham como
    objectivo último a participação em eventos, colóquios, seminários, congressos ou iniciativas
    similares de carácter científico. 
                Artigo 3º
                Conceitos
        1. Por Comunidade IPS entende-se todos os estudantes, docentes e funcionários não
    docentes que cumpram os critérios de elegibilidade fixados.
        2. Por acto de mobilidade entende-se toda a deslocação ao estrangeiro, efectuada de acordo
    com as especificidades de cada membro da Comunidade IPS e da qual decorram
    actividades de carácter académico e profissional, no quadro da internacionalização.
               Artigo 4º
            Critérios de Elegibilidade
    Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, são
    considerados elegíveis para participar em actividades de mobilidade:
        a) Os estudantes de nacionalidade portuguesa, apátridas, refugiados ou que beneficiem
    do estatuto de residente permanente e que, cumulativamente, estejam inscritos e
    matriculados num curso ministrado no IPS ou em parceria com o IPS de qualquer nível
    de formação conducente a grau, a partir do 2º ano ou com um mínimo de 45 créditos
    completos e que, à data da sua candidatura, tenham resolvida a sua situação legal
    relativamente ao estabelecimento de ensino que frequentam;
        b) Os docentes de nacionalidade portuguesa, apátridas, refugiados ou que beneficiem do
    estatuto de residente permanente;
        c) Os funcionários não docentes de nacionalidade portuguesa, apátridas, refugiados ou
    que beneficiem do estatuto de residente permanente, que desenvolvam ou estejam
    directamente envolvidos em actividades de internacionalização e cuja relação
    contratual preveja um mínimo de 15 horas semanais de exercício destas funções;
        d) Excepcionalmente poderão ser considerados elegíveis para actividades de mobilidade
    os funcionários não docentes cuja actividade não esteja integralmente relacionada com
    a internacionalização, desde que esta seja o objectivo último da sua participação.
            Artigo 5º
         Bolsas de Mobilidade
        1. Por bolsa de mobilidade entende-se a verba, paga numa única prestação, destinada a
    colmatar o diferencial do custo de vida entre Portugal e o país anfitrião. A bolsa de
    mobilidade pode ser constituída exclusivamente por financiamentos externos ao IPS,
    por receitas próprias ou por ambos. 
        2. A atribuição de uma bolsa de mobilidade terá com objectivo cobrir exclusivamente os
    custos de mobilidade que o período de permanência noutro país implica.
        3. Não é permitida a concessão simultânea de qualquer outra bolsa de qualquer origem
    que abranja os mesmos custos de mobilidade, nem receber, para o mesmo período,
    outra bolsa ou subvenção, financiada pela Comissão Europeia, no quadro de quaisquer
    programas comunitários. 
                        Artigo 6º
                        Competências
        1. Nos termos do Despacho nº 23/Spr/2006, de 19 Maio, cabe ao CIMOB-IPS a gestão da
    mobilidade da Comunidade IPS;
            a) Compete ao CIMOB-IPS desenvolver acções directas de divulgação,
    planeamento, organização, condução e acompanhamento de todos os actos de
    mobilidade praticados pela Comunidade IPS, bem como da organização e
    gestão processual de Projectos e Programas comunitários e extra
    comunitários;
            b) O CIMOB-IPS desenvolverá a sua actividade com base em planos de
    actividade e orçamentos de carácter anual, sendo da sua responsabilidade
    realizar, no final de cada ano civil, um Relatório Final narrativo e financeiro. Os
    Planos e Relatórios Finais de Actividade do CIMOB-IPS constituirão parte
    integrante dos Planos e Relatórios Finais do IPS, presentes ao Conselho
    Geral.
        2. Cada Escola Superior nomeia um Coordenador da Mobilidade, a quem compete
    negociar e validar todas as matérias relacionadas com o reconhecimento académico
    dos estudantes. É ainda competência do Coordenador da Mobilidade assegurar a
    articulação entre a Escola Superior que representa e o CIMOB-IPS na selecção e
    seriação dos candidatos a mobilidade.
        3. O Presidente do IPS, ou o vice-presidente em quem ele delegar superintende toda a
    actividade de carácter internacional, sendo da sua competência a fixação de objectivos
    e a definição das políticas e estratégias de internacionalização do IPS. 
                Artigo 7º
            Processo de atribuição de verbas subvencionadas
    1. Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 1º, cabe
    ao CIMOB-IPS a gestão de todas as verbas concedidas ao IPS para apoio à
    mobilidade.
    2. A afectação de bolsas por Escola Superior/área de estudos é efectuada com base nos
    seguintes critérios:
    a) É atribuída uma bolsa a cada Escola Superior do IPS, desde que estejam
    previstas actividades de mobilidade de estudantes/docentes/funcionários não
    docentes;
    b) É atribuída uma bolsa extra a cada Escola Superior do IPS, desde que estejam
    previstas actividades de mobilidade de estudantes/docentes/funcionários não
    docentes no ano em causa;
    c) É atribuída uma bolsa a cada Escola Superior do IPS que, no ano lectivo
    anterior, tenha excedido o número de bolsas inicialmente atribuídas (por via do
    envio de estudantes/docentes/funcionários não docentes não bolseiros);
    d) É retirada uma bolsa a cada Escola Superior do IPS que, no ano lectivo
    anterior, não tenha esgotado o número de bolsas inicialmente atribuído.
    3. A fórmula de cálculo utilizada para efeitos de distribuição de bolsas por Escola
    Superior/área de estudos integra exclusivamente:
    a) Nº de alunos/docentes/funcionários não docentes candidatos à mobilidade no
    ano lectivo em causa, com um peso de 40%;
    b) Histórico da mobilidade (número de alunos/docentes/funcionários enviados nos
    três anos lectivos anteriores ao ano lectivo em curso), sendo aplicados factores
    de ponderação de 1 a 3, em que o 1 corresponde ao ano lectivo mais antigo,
    com um peso de 35%;
    c) Percentagem de alunos/docentes/funcionários não docentes enviados no ano
    lectivo anterior face ao número total de alunos/docentes/funcionários não
    docentes matriculados/com vínculo nesse mesmo ano, com um peso de 25%. 
    4. A gestão de verbas subvencionadas para apoio à organização da mobilidade será
    realizada de acordo com as despesas elegíveis do programa/projecto
    consubstanciador, de acordo com o plano de actividades anual do CIMOB-IPS.
    5. Não se encontram abrangidos pelos pontos 1 e 2 deste artigo quaisquer projectos e
    programas que se orientem exclusivamente para a execução de actividades numa
    única Escola Superior/área de estudos.
    Artigo 8º
    Financiamento com receitas próprias
    1. Em moldes a regulamentar, o IPS apoiará financeiramente as acções de mobilidade da
    comunidade académica recorrendo para tanto a fundos próprios e criando um Plano de
    Apoio Financeiro à Mobilidade Internacional.
    2. O Plano de Apoio Financeiro à Mobilidade Internacional será gerido a partir do CIMOB-IPS
    e actuará isoladamente ou atribuindo complementos de bolsa, de acordo com a
    disponibilidade financeira fixada anualmente.
    Artigo 9º
    Divulgação
    1. Compete ao CIMOB-IPS organizar e implementar todas as actividades de divulgação da
    mobilidade junto da comunidade académica articulando-se, sempre que necessário, com o
    GI.COM-IPS.
    2. Compete ao CIMOB-IPS organizar e implementar todas as actividades de divulgação do
    IPS junto de instituições e públicos no estrangeiro, em articulação, sempre que se julgar
    conveniente, com o GI.COM-IPS.
    Capítulo II
    Mobilidade de Estudantes
    Artigo 10º
    Âmbito
    1. Podem beneficiar do estatuto de aluno IPS em mobilidade todos os estudantes que a tal se
    candidatem desde que, cumulativamente, cumpram os critérios de elegibilidade fixados na 
    alínea a) do artigo 4º deste Regulamento e os fixados no quadro do programa ou projecto
    financiador da sua mobilidade (quando aplicável).
    2. A concessão do estatuto de aluno IPS em mobilidade não acarreta, obrigatoriamente, a
    atribuição de uma bolsa.
    3. Sem prejuízo da aplicação das normas específicas de cada programa ou projecto
    comunitário ou extra comunitário, cada estudante só pode beneficiar uma vez, em cada
    ciclo de estudos, do estatuto de aluno bolseiro.
    Artigo 11º
    Direitos
    Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, são direitos
    do aluno IPS em mobilidade:
    a) Pleno reconhecimento académico, obtido pela aplicação do Sistema Europeu de
    Transferência de Créditos (ECTS);
    b) Ausência de pagamento de propinas pela instituição de acolhimento (incluindo
    despesas de matrícula, inscrição para exames e despesas de acesso a laboratórios e
    bibliotecas);
    c) Pleno usufruto de todas as bolsas nacionais ou qualquer outro auxílio financeiro de
    carácter nacional previamente aprovado durante o período de estudos no estrangeiro;
    d) Apoio do CIMOB-IPS na organização de todo o seu processo de mobilidade, incluindo
    a preparação linguística.
    Artigo 12º
    Deveres
    1. Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, são
    deveres do aluno IPS em mobilidade:
    a) Manter-se informado das condições da mobilidade às quais se submeteu;
    b) Frequentar com assiduidade, com a finalidade de obter aproveitamento, os
    cursos/disciplinas/estágios previstos no programa de mobilidade; 
    c) Assinar toda a documentação contratual que lhe seja apresentada pelo
    CIMOB-IPS.
    2. Em caso de não cumprimento de qualquer destas cláusulas, o IPS reserva-se no direito
    de exigir a devolução da bolsa inicialmente atribuída, ou tomar outras medidas a definir
    caso a caso. Nenhum estudante pode invocar desconhecimento da legislação e/ou dos
    procedimentos aplicáveis à mobilidade para usufruir de qualquer benefício ou isenção
    de qualquer responsabilidade.
    Artigo 13º
    Elegibilidade dos períodos de estudo
    Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, são
    considerados elegíveis todos os períodos de estudo que:
    a) Decorram por um espaço de tempo não superior a 1 ano lectivo completo;
    b) Se realizem em instituição de ensino superior estrangeira, reconhecida como tal pelas
    autoridades competentes na matéria, e que tenha estabelecido com o IPS qualquer tipo
    de acordo ou protocolo versando a mobilidade.
    c) Incluam actividades académicas que decorram do normal percurso curricular do
    estudante, incluindo aulas presenciais, projecto, estágio, práticas pedagógicas ou
    ensino clínico, assim como a participação em cursos e programas de carácter extracurricular,
    mas de natureza académica.
    d) São ainda elegíveis todas as actividades de mobilidade que tenham como objectivo a
    inserção de jovens diplomados no mercado de trabalho.
    Artigo 14º
    Candidaturas
    1. Os estudantes que pretendam realizar uma actividade de mobilidade deverão
    candidatar-se ao estatuto de aluno IPS em mobilidade, nos prazos fixados anualmente
    pelo CIMOB-IPS e divulgados atempadamente nas Escolas Superiores.
    2. Os estudantes podem, em simultâneo, candidatar-se à atribuição de uma bolsa de
    mobilidade, nos termos fixados no artigo 5º. 
    3. O processo de candidatura, selecção e seriação dos candidatos é da responsabilidade
    do CIMOB-IPS, em articulação com os coordenadores da mobilidade de cada Escola
    Superior.
    Artigo 15º
    Instrução do Processo de Candidatura
    1. O estudante deverá formalizar a sua candidatura entregando no CIMOB-IPS, dentro
    dos prazos fixados, os seguintes documentos:
    a) Ficha de Candidatura (disponível no CIMOB-IPS e para download na página web
    do IPS em www.ips.pt);
    b) Carta de Intenções (disponível no CIMOB-IPS e para download na página web do
    IPS em www.ips.pt);
    2. O CIMOB-IPS completará o processo anexando os seguintes documentos:
    a) Listagem das disciplinas concluídas com aproveitamento até ao final do primeiro
    semestre do ano lectivo em que decorre a candidatura, passada pelos Serviços
    Académicos, incluindo obrigatoriamente as classificações registadas em cada
    disciplina por semestre e número total de unidades de crédito acumuladas;
    b) Declaração dos Serviços de Acção Social, comprovando a situação de bolseiro
    (quando aplicável)
    Artigo 16º
    Critérios de selecção e seriação dos candidatos
    A fórmula de cálculo utilizada para efeitos de atribuição de bolsas de mobilidade integra os
    seguintes critérios e correspondentes ponderações:
    a) Mérito académico, tendo como base a informação dos Serviços Académicos do
    estabelecimento de origem relativa à média aritmética obtida no ano lectivo
    imediatamente anterior, com um peso de 25%;
    b) Número de unidades de crédito ECTS, ou disciplinas já realizadas, com um peso
    de 25%; 
    c) Grau de motivação do estudante, avaliada por análise da carta de intenções e
    entrevista, segundo critérios a definir anualmente e divulgados atempadamente,
    com um peso de 20%;
    d) Nível de competências linguísticas, com um peso de 20%;
    e) Situação sócio-económica, discriminando positivamente os estudantes bolseiros
    dos Serviços de Acção Social, com um peso de 10%.
    Artigo 17º
    Processo de selecção e seriação dos candidatos
    1. Terminado o processo de candidatura, os estudantes elegíveis são ordenados,
    relativamente a cada um dos estabelecimentos de acolhimento a que concorrem, em
    função dos critérios fixados no artigo 16º.
    2. Os estudantes seleccionados são contactados para uma reunião com a equipa do
    CIMOB-IPS, tendo em vista a definição das disciplinas a realizar na instituição anfitriã.
    Artigo 18º
    Desistência
    1. A eventual desistência de um candidato deverá ser comunicada por escrito ao
    Coordenador do CIMOB-IPS logo que o motivo subjacente ocorra. Esta obrigação de
    comunicação existe qualquer que seja a fase do concurso (antes ou depois da
    divulgação dos respectivos resultados) durante o qual a desistência venha a ocorrer.
    2. A desistência, ainda que comunicada, não dispensa o estudante em causa do
    cumprimento das obrigações acessórias que haja previamente assumido perante o
    estabelecimento de destino, por exemplo, o pagamento de reservas de alojamento e
    outros.
    3. Caso a desistência ocorra durante o período de estudos autorizado, o estudante
    deverá devolver a totalidade da bolsa que lhe foi atribuída (quando aplicável), salvo
    motivos de força maior, devidamente justificados.
    4. O não cumprimento do estipulado no ponto 3 poderá acarretar a aplicação de medidas
    coercivas, estudadas caso a caso. 
    Artigo 19º
    Nomeação de procurador
    O estudante deverá nomear um procurador com poderes bastantes para, na sua ausência, o
    representar junto dos serviços competentes. Para o efeito deverá requerer, junto do CIMOBIPS,
    uma minuta de procuração (não notarial).
    Artigo 20º
    Organização da Mobilidade
    A organização do processo de mobilidade é da responsabilidade do CIMOB-IPS, em
    articulação permanente com cada estudante envolvido. Cabe ao CIMOB-IPS:
    a) Garantir a comunicação com as instituições parceiras que acolherão os estudantes IPS
    beneficiários do estatuto de aluno em mobilidade;
    b) Garantir a assinatura, antes da partida, de toda a documentação relativa ao plano de
    estudos a realizar, pagamento de bolsa (quando aplicável) e inscrição na instituição anfitriã;
    c) Prestar auxílio ao estudante na pesquisa de informações práticas sobre o
    país/cidade/instituição de ensino escolhidos;
    d) Prestar auxílio ao estudante na procura de alojamento;
    e) Garantir apoio na preparação linguística.
    Artigo 21º
    Documentação
    1. Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º,
    considera-se obrigatório que cada processo de aluno IPS em mobilidade seja constituído
    pela seguinte documentação:
    a) Acordo Bilateral ou equivalente legal (celebrado antes da realização da mobilidade, e
    estabelecido entre o IPS e uma instituição parceira, de carácter nacional ou
    internacional);
    b) Ficha de Candidatura, nos termos da alínea a) do ponto 1 do artigo 15º; 
    c) Cópia do certificado de habilitações, nos termos da alínea b) do ponto 1 do artigo 15º;
    d) Carta de Intenções nos termos da alínea c) do ponto 1 do artigo 15º;
    e) Declaração dos Serviços de Acção Social, comprovando a situação de bolseiro nos
    termos da alínea d) do ponto 1 do artigo 15º (quando aplicável);
    f) Ficha de Estudante;
    g) Contrato de Estudante;
    h) Recibo de pagamento da bolsa (quando aplicável);
    i) Relatório Final Individual;
    j) Confirmação do período de estudos no estrangeiro, emitida pela instituição de
    acolhimento;
    k) Contrato de Estudos:
    l) Registo Académico;
    m) Documentação referente a pedidos de prolongamento de estada (quando aplicável);
    n) Adendas ao Contrato (quando aplicável);
    o) Recibos relativos a Adendas ao Contrato (quando aplicável).
    Artigo 22º
    Reconhecimento académico
    1. O IPS assegurará a todos os estudantes em mobilidade o reconhecimento académico dos
    estudos efectuados na instituição de acolhimento, desde que constem do Contrato de
    Estudos como fazendo parte integrante do respectivo plano de estudos a que está
    originalmente adstrito, e que será plenamente reconhecido e integrado no seu diploma/grau
    académico.
    2. O reconhecimento só será recusado se os estudantes não alcançarem o nível de
    aproveitamento exigido pela Instituição de Acolhimento ou se não cumprirem as condições 
    indispensáveis à obtenção do pleno reconhecimento académico, estipuladas pelas
    instituições participantes.
    2. As especificidades relativas ao reconhecimento académico encontram-se previstas no
    Regulamento do Reconhecimento Académico.
    Capítulo III
    Mobilidade de Docentes
    Artigo 23º
    Âmbito
                        1. Podem beneficiar do estatuto de docente IPS em mobilidade todos os docentes que a tal se
    candidatem desde que, cumulativamente, cumpram os critérios de elegibilidade fixados na
    alínea b) do artigo 4º deste Regulamento e os fixados no quadro do programa ou projecto
    financiador da sua mobilidade (quando aplicável).
    2. A concessão do estatuto de docente IPS em mobilidade não acarreta, obrigatoriamente, a
    atribuição de uma bolsa.

    Artigo 24º
    Direitos
    Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, são direitos
    do docente IPS em mobilidade:
    a) o pleno usufruto de todas as bolsas nacionais ou qualquer outro auxílio financeiro de
    carácter nacional previamente aprovado durante o período de permanência no estrangeiro;
    b) o apoio do CIMOB-IPS na organização de todo o seu processo de mobilidade, incluindo
    a preparação linguística.
    Artigo 25º
    Deveres
    1. Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, são
    deveres do docente IPS em mobilidade:
    a) Manter-se informado sobre as condições da mobilidade às quais se submeteu;
    b) Assinar todos a documentação contratual que lhe seja apresentada pelo CIMOB-IPS. 
    2. Em caso de não cumprimento de qualquer destas cláusulas, o IPS reserva-se no direito de
    exigir a devolução da bolsa inicialmente atribuída, ou tomar outras medidas a definir caso a
    caso.
    Artigo 26º
    Actividades elegíveis
    No quadro da mobilidade de docentes a que se aplica o presente Regulamento, consideram-se
    actividades elegíveis:
    a) Actividades de leccionação;
    b) Actividades de investigação ou desenvolvimento de projectos de carácter científico ou
    pedagógico;
    c) Visitas preparatórias.
    Artigo 27º
    Elegibilidade dos períodos de leccionação
    1. Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, são
    considerados elegíveis todos os períodos de leccionação que:
    a) Decorram por um espaço de tempo não inferior a 5 dias e não superior a 6 meses;
    excepcionalmente poderão ser autorizados períodos de deslocação com uma duração
    inferior a 5 dias, desde que sejam ministradas no mínimo 8 horas lectivas efectivas;
    b) Se realizem em instituição de ensino superior estrangeira, reconhecida como tal pelas
    autoridades competentes na matéria, e que tenha estabelecido com o IPS qualquer tipo de
    acordo ou protocolo versando a mobilidade;
    c) Incluam actividades académicas que decorram do normal percurso profissional do
    docente, incluindo aulas presenciais, projecto, estágio, práticas pedagógicas ou ensino
    clínico.
    2. Será dada prioridade às actividades que contribuam para:
    a) a produção de novo material didáctico; 
    b) a consolidação e desenvolvimento das ligações entre departamentos e escolas e
    para a preparação de futuros projectos de cooperação;
    c) a consolidação de boas práticas, bem como divulgação no seio da comunidade
    académica.
    Artigo 28º
    Elegibilidade das actividades de investigação ou desenvolvimento de projectos de
    carácter científico ou pedagógico
    1. Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, são
    consideradas elegíveis todas as actividades de investigação e/ou desenvolvimento de
    projectos de carácter científico e/ou pedagógico no estrangeiro que:
    a) Estejam directamente relacionadas com a formação avançada do corpo docente;
    b) Estejam directamente relacionadas com o desenvolvimento de projectos de
    investigação;
    c) Respondam a solicitações de instituições parceiras e estejam relacionadas com o
    desenvolvimento de práticas pedagógicas e/ou científicas de reconhecida relevância.
    Artigo 29º
    Elegibilidade das visitas preparatórias
    1. Entende-se por visita preparatória toda a deslocação ao estrangeiro cujo objectivo seja
    a promoção de novos contactos de índole internacional com possíveis instituições
    estrangeiras, no âmbito de qualquer actividade a realizar de índole internacional.
    2. Cumulativamente, podem ser realizadas actividades de acompanhamento de
    estudantes que estejam em período de mobilidade, nessa ou noutra instituição do
    mesmo país/cidade;
    3. A visita preparatória não poderá ter uma duração inferior a 3 nem superior a 5 dias
    úteis.
    Artigo 30º
    Candidaturas 
    1. Os docentes que pretendam realizar uma actividade de mobilidade deverão candidatarse
    ao estatuto de docente IPS em mobilidade nos prazos fixados anualmente pelo
    CIMOB-IPS, e divulgados atempadamente nas Escolas Superiores.
    2. Os docentes podem, em simultâneo, candidatar-se à atribuição de uma bolsa de
    mobilidade, nos termos fixados no artigo 5º.
    3. Os docentes podem candidatar-se a mais do que uma bolsa, num mesmo ano lectivo,
    desde que associadas a uma única actividade de mobilidade elegível, sendo-lhes
    solicitado o estabelecimento de prioridades, que serão levadas em conta no processo
    de selecção e seriação.
    4. O processo de candidatura, selecção e seriação dos candidatos é da responsabilidade
    do CIMOB-IPS, em articulação com os coordenadores da mobilidade de cada Escola
    Superior.
    Artigo 31º
    Instrução do processo de Candidatura
    O docente deverá formalizar a sua candidatura, entregando no CIMOB-IPS, dentro dos prazos
    fixados, uma Ficha de Candidatura (disponível no CIMOB-IPS e para download na página web
    do IPS em www.ips.pt).
    ).
    Artigo 32º
    Critérios de selecção e seriação dos candidatos
    a bolsas para períodos de leccionação
    Sempre que o número de candidatos seja superior ao número de bolsas disponíveis serão
    aplicados sucessivamente os seguintes critérios:
    a) Objectivos da deslocação, sendo dada prioridade às missões cujo objectivo englobe
    várias vertentes (aulas; desenvolvimento conjunto de curricula; início/desenvolvimento de
    projectos; estudo de outras formas de cooperação; acompanhamento de alunos);
    b) País de destino, considerando as prioridades fixadas anualmente;
    c) Categoria da carreira do ensino superior politécnico que o docente em causa detém,
    sendo dada prioridade aos docentes com categoria mais elevada e com maior número de
    anos de serviço no IPS. 
    Artigo 33º
    Critérios de selecção e seriação dos candidatos a bolsas para desenvolvimento de
    actividades de investigação e/ou desenvolvimento de projectos de carácter científico
    e/ou pedagógico
    a) Índole da missão, sendo dada prioridade às deslocações que englobem várias
    vertentes (estudo de formas de parceria diversas; desenvolvimento de novas
    metodologias de trabalho; acompanhamento de alunos);
    b) Enquadramento da deslocação no âmbito da formação avançada do corpo docente.
    Artigo 34º
    Critérios de selecção e seriação dos candidatos
     a bolsas para visitas preparatórias
    Sempre que o número de candidatos seja superior ao número de bolsas disponíveis serão
    aplicados sucessivamente os seguintes critérios:
    a) Índole da missão, sendo dada prioridade às deslocações que englobem várias vertentes
    (visita a mais do que uma instituição; estudo de formas de parceria diversas; actualização
    científica; desenvolvimento de novas metodologias de trabalho);
    b) Índole do trabalho que realiza no IPS, sendo dada prioridade aos docentes que,
    cumulativamente à sua actividade académica, desenvolvam outras actividades
    relacionadas com a internacionalização.
    Artigo 35º
    Processo de selecção e seriação dos candidatos
    1. Terminado o processo de candidatura, os docentes elegíveis são ordenados,
    relativamente a cada uma das actividades a que concorreram, em função dos critérios
    fixados nos artigos 32º, 33º e 34º;
    2. Após a selecção e ordenação, os docentes serão contactados por qualquer meio que
    possa ser comprovado por escrito, dando conta da sua ordenação.
    Artigo 36º
    Desistência 
    1. A eventual desistência de um candidato deverá ser comunicada por escrito ao
    Coordenador do CIMOB-IPS logo que o motivo subjacente ocorra. Esta obrigação de
    comunicação existe qualquer que seja a fase do concurso (antes ou depois da
    comunicação dos respectivos resultados) durante o qual a desistência venha a ocorrer.
    2. A desistência, ainda que comunicada, não dispensa o docente em causa do
    cumprimento das obrigações acessórias que haja previamente assumido perante o
    estabelecimento de destino, como por exemplo o pagamento de reservas de
    alojamento e outros.
    Artigo 37º
    Organização da Mobilidade
    A organização do processo de mobilidade é da responsabilidade do CIMOB-IPS, em
    articulação permanente com cada docente envolvido. Cabe ao CIMOB-IPS:
    a) Garantir a comunicação com as instituições parceiras que acolherão os docentes IPS
    em mobilidade;
    b) Garantir a assinatura, antes da partida, de toda a documentação relativa à deslocação;
    c) Prestar auxílio ao docente na pesquisa de informações práticas sobre o
    país/cidade/instituição de ensino escolhidos;
    d) Prestar auxílio ao docente na procura de alojamento;
    e) Garantir apoio na preparação linguística.
    Artigo 38º
    Documentação
    Sem prejuízo das regras fixadas por cada programa referido no nº 1 do artigo 2º, considera-se
    obrigatório que cada processo de docente IPS em mobilidade seja constituído pela seguinte
    documentação:
    a) Acordo Bilateral ou equivalente legal (celebrado antes da realização da mobilidade, e
    estabelecido entre o IPS e uma instituição parceira, de carácter nacional ou internacional);
    b) Ficha de Candidatura, nos termos do artigo 31º; 
    c) Ficha de Docente;
    d) Contrato de Docente;
    e) Confirmação do período de leccionação/estada no estrangeiro, emitida pela instituição
    de acolhimento;
    f) Recibo de pagamento da bolsa (quando aplicável);
    g) Relatório Final Individual;
    h) Adendas ao Contrato (quando aplicável);
    i) Recibos relativos a Adendas ao Contrato (quando aplicável).
    Capítulo IV
    Mobilidade de Funcionários Não Docentes
    Artigo 39º
    Âmbito
    1. Podem beneficiar do estatuto de funcionário IPS em mobilidade todos os funcionários não
    docentes que a tal se candidatem desde que, cumulativamente, cumpram os critérios de
    elegibilidade fixados na alínea c) do artigo 4º deste Regulamento e os fixados no quadro do
    programa ou projecto financiador da sua mobilidade (quando aplicável).
    2. A concessão do estatuto de funcionário não docente IPS em mobilidade não acarreta,
    obrigatoriamente, a atribuição de uma bolsa.             
            </textarea>
            </div>

            <div class="form-group">

                <div class="checkbox">
                    <label>
                        <input asp-for="IsConfirmado" /> @Html.DisplayNameFor(model => model.IsConfirmado)
                    </label>
                </div>

            </div>

            
        <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@*<div align="center">
        <input type="button" value="Passo Seguinte" onclick="@("window.location.href='" + @Url.Action("SubmeterDocs", "Candidatura") + "'");" />
    </div>*@


