@model CandidaturaModel
@{
    ViewData["Title"] = "SubmeterDocs";
    Layout = "_LayoutCandidatura";
}

<div align="center">
    <h2>Candidatura Programa de Mobilidade: @ViewBag.NomePrograma</h2>
    <h5>Passo 3 de 5</h5>
</div>


@if (Model.EstadoDocumentos.Equals(EstadoDocumentos.EmEspera) || Model.EstadoDocumentos.Equals(EstadoDocumentos.Recusados))
{
    <br />
<div align="center">
    <p>Nome do ficheiro deverá ser: "NumeroAluno_NomeDoDocumento"</p>
    <br />
    <form asp-controller="Upload" asp-action="UploadFiles" method="post"
          enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <br />
        <button type="submit">Upload Files</button>
    </form>

    <p></p>

</div>
}


@if (Model.EstadoDocumentos.Equals(EstadoDocumentos.Aceites)) {
    <br />
    <h3 aling ="center">Os seus Documentos foram aceites, por favor complete a sua candidatura clicando em Passo Seguinte</h3>
    <br />
    <br />
<div align="center">
    <input type="button" value="Passo Seguinte" onclick="@("window.location.href='" + @Url.Action("MarcarEntrevistas", "Candidatura") + "'");" />
</div>
}